.progress_meter{
	position:relative;
	display:inline-block;
	width:100px;
	height:100px;
	margin:50px 0 10px 0;
	padding:0;
}

.progress_meter ul{
	list-style-type:none;
	width:100px;
	height:100px;
	padding:0;
	margin:0;
}
    
.progress_meter li{
	position:absolute;
	top:0px;
	width:100px;
	height:100px;
	padding:0;
	margin:0;
}

.progress_meter p {
    width: 100px;
    height: 100px;
     padding: 0;
     margin: 0;
}

.progress_meter li p { -webkit-transition: all .7s ease-out;}

.progress_meter span { display: block; width: 50px; height: 100px;}

.progress_meter ul :nth-child(odd) { clip: rect(0px, 100px, 100px, 50px);}

.progress_meter ul :nth-child(even) { clip: rect(0px, 50px, 100px, 0px);}

.pie_left{
	-moz-border-radius-topleft:50px;
	-moz-border-radius-bottomleft:50px;
	-webkit-border-top-left-radius:50px;
	-webkit-border-bottom-left-radius:50px;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
}

.pie_right{
	margin-left:50px;
	-moz-border-radius-topright:50px;
	-moz-border-radius-bottomright:50px;
	-webkit-border-top-right-radius:50px;
	-webkit-border-bottom-right-radius:50px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
}

#c1_l span,#c1_r span{ 
	background:#89d681;
}


/* progress */
#center-circle{
    width:90px;height:90px;position:absolute;z-index:1000;top:5px;background:#fff;left:5px;text-align:center;
    border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-khtml-border-radius:50%;-o-border-radius:50%;
}
#center-circle span{
    display:inline-block;margin-top:50%;line-height:0;font-weight:bold;font-size:30px;color:#5f835a;
}

.percent80_l{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.percent80_r{
	-moz-transform:rotate(108deg);
	-webkit-transform:rotate(108deg);
	-o-transform:rotate(108deg);
}

.percent85_l{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.percent85_r{
	-moz-transform:rotate(126deg);
	-webkit-transform:rotate(126deg);
	-o-transform:rotate(126deg);
}

.percent90_l{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.percent90_r{
	-moz-transform:rotate(144deg);
	-webkit-transform:rotate(144deg);
	-o-transform:rotate(144deg);
}

.percent95_l{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.percent95_r{
	-moz-transform:rotate(162deg);
	-webkit-transform:rotate(162deg);
	-o-transform:rotate(162deg);
}

.percent98_l{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.percent98_r{
	-moz-transform:rotate(172.8deg);
	-webkit-transform:rotate(172.8deg);
	-o-transform:rotate(172.8deg);
}